a {
  color: #6E6E6E;
  text-decoration: none;
  opacity: 0.8;
}

a:hover {
  text-decoration: underline;
  opacity: 1.0;
}

body {
  margin: 0;
  color: #6E6E6E;
  font: 13px/22px Georgia, "Times New Roman", serif;
  background: url("/static/img/background_grid.gif") repeat;
}

.container {
  margin: 100px auto 0 auto;
  padding: 25px;
  min-width: 640px;
  max-width: 960px;
  background-color: #F5F5F5;
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.2);
}

.body {
  padding: 0 50px;
  color: rgb(79, 79, 79);
  font-size: 22px;
  line-height: 38px;
}

.logo {
  text-align: center;
  font: 60px "Alegreya SC", Georgia, "Times New Roman", Times, serif;
  color: hsl(0, 0%, 31%);
  margin: 20px 0 20px 0;
  text-rendering: optimizeLegibility;
}

.links {
  list-style-type: none;
  padding: 0;
  display: table;
  table-layout: fixed;
  margin: 50px auto 20px auto;
  text-align: center;
}

.links li {
  display: table-cell;
  width: 2%;
}

.intro {
  padding-bottom: 30px;
}

.divider {
  display: block;
  border: 0;
  height: 1px;
  background: #CCC;
  background: -moz-gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#CCC), to(#FFF));
  background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#CCC), to(#FFF));
  background: gradient(radial, 50% 50%, 50, 50% 50%, 500, from(#CCC), to(#FFF));
}

.footer {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #AAA;
}
